<span style='color: #000'>934 frames</span>	<span style='color: #900'>38,400 KB</span>	<span style='color: #090'>14,480.79 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />